@font-face {
    font-family: 'Montserrat-Light';
    src: url(../fonts/Inter-Light.ttf);
}

@font-face {
    font-family: 'Montserrat-LightItalic';
    src: url(../fonts/Inter-Light.ttf);
}


@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(../fonts/Inter-SemiBold.ttf);
}